@import url(header_and_footer.css);


body{text-align: center;}
h1,h2,.text{font-family: Arial, Helvetica, sans-serif;color: black;text-align: left;}

h2{color: #cc0000;}

.section-1{background-color: #f7f7f7;}
.left-div,.right-div{display: inline-block;width:40%;}

.about-picture{width: 400px;border-radius: 20px;}

.section-1-2{background: #ffcccc;padding: 20px;
    

    width:100%;
}




.card {background: white;
    width:325px;
    height:300px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    padding: 25px;
    align-content: center; 
    box-shadow: 2px 2px 10px rgba(117, 117, 117, 0.8), -2px -2px 10px rgba(117, 117, 117, 0.8);
}

.div-icon{border:solid #cc0000;width: 80px;height: 80px;
    border-radius: 100%;
    display: inline-block;
    align-content: center;
    text-align: center;
    outline-style: solid;
    outline-color:  #ffcccc;

 
}
.icon2{width: 45px;text-align: center;}

.card-title{text-align: center;font-family: Arial, Helvetica, sans-serif;}
.card-statement{text-align: center;font-family: Arial, Helvetica, sans-serif;}