@import url(header_and_footer.css);

body {
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

th,
td,
.btn-remove {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.btn-remove:hover {
    opacity: 60%;
    color: blue;
}


.btn-remove {
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: red;
}




table {
    display: inline-block;
}

form {
    display: inline-block;
}

.link-continue-shopping {
    color: black;
}





.btn-checkout,
.btn-continue-shopping,
.btn-clear {
    background-color: transparent;
    border: solid black 1px;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 20px;
}


.btn-checkout:hover {
    color: white;
    background-color: black;
}
.btn-continue-shopping:hover {
    color: white;
    background-color: black;
}

.btn-clear:hover {
    color: white;
    background-color: black;
}