@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);

body {
    padding: 0px;
    padding-inline: 3%;
    border: 20px;
    height: 200px;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-inline:30px;
}

.header-item-container,
.header-item-container2 {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-item-container2 {
    justify-content: space-between;
}


#logo {
    height: 70px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #c94c4c;
    padding-inline: 10px;
}

.link:hover {
    font-size: 22px;
    transition: ease-in-out 0.1s;

}

/*END OF HEADER*/

.footer-item{
    font-size: 18px;
    color: #c94c4c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#here,
.here {
    text-decoration: underline rgb(255, 214, 126)
}

footer {
    text-align: center;
}

.section-2 {
    display: inline-block;
    vertical-align: top;
    margin-inline: 30px;
}

.icon{width: 50px}

.social-item{align-content: center;}

a{color:#c94c4c;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
padding:1px;}


.section-4{padding-bottom: 10px;}