@import url(header_and_footer.css);

body{text-align: center;}

.card{text-align: center;
    display: inline-block;
     background-color: rgb(255, 255, 255);
    width: 180px;
    margin: 15px;
    border-radius: 20px;}

.card:hover{width: 195px;margin:0px;
    transition:ease-in-out 250ms;
transition: all 250ms;}


.item-img{border-radius: 20px 20px 0px 0px;
    width:100%;
    
}

.title{font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;}

.description,.price{
    color: #000000;
    margin: 5px;
}

.btn-add{color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    width:100%;
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
}

.btn-view-cart{color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    width:20%;
    height: 40px;
    padding: 0px;}


.view-cart{color:White;}