@import url(header_and_footer.css);

body {
    text-align: center;
}

.card {
    text-align: center;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 180px;
    margin: 15px;
    border-radius: 20px;
}




.item-img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;

}

.title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.description,
.price {
    color: #000000;
    margin: 5px;
}

.btn-add {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 20px 20px;
    padding: 0px;
    transition: ease 0.25;
}

.btn-add:hover {
    color: black;
    background-color: white;
    transition: ease-out 200ms;
    border: solid black 1px;
    border-radius: 20px 20px 20px 20px;

}

.btn-view-cart {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    width: 20%;
    height: 40px;
    padding: 0px;
}


.view-cart {
    color: White;
}




.cart-text {
    color: black;
}

.cart-text:hover {
    color: white;
}

.cart {
    background-color: white;
    border: solid black 1px;
    width: 100px;
    border-radius: 20px;
    color: #000000;
    padding: 10px;
}


.cart:hover {
    background-color: black;
    color: white;
    transition: 0.25s;
}